.sidepanel {
   position: fixed;
   top: 300px;
   left: -120px;
   z-index: 3;
   transform: rotate(-90deg);
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 340px;
   height: 25px;
   &__text {
      font-size: 16px;
      font-weight: 700;
   }
   &__divider {
      width: 70px;
      height: 2px;
      background-color: black;
   }
   &__link {
      transform: rotate(+90deg);
   }
}